* {
  box-sizing: border-box;
}

html, body {
  height: calc(100% - 2px);
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Verdana, sans-serif;
}

.drawing-space {
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* Use the following for chunky pixels. */
/*
canvas {
  width: 100%;
  height: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
*/

.hud {
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hud td {
  min-width: 4em;
}

